### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### 自动生成的代码等 ###
test/
lex_sample/
hwtest/
example/

compiler
lex.yy.cpp
out.sy
output.out
test.*
test_*.*
test*
tool.py
yacc.tab.cpp
yacc.tab.hpp
MiniVM*